<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Category</h4>
                    <p class="card-description">  Add Categories here..! </p>
                    <form class="forms-sample" method="post" action="{% url 'saveitem' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Category Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName4">Description</label>
                        <input type="text" class="form-control" id="exampleInputName4" placeholder="Description" name="Description">
                      </div>
                      <div>
                          <input type="file" name="image">
                      </div>


                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

</body>
{% endblock %}
</html>