<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Display  Details</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>


                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{ d.username }}</td>
                            <td>{{ d.email }}</td>
                            <td>{{ d.subject }}</td>
                            <td>{{ d.message }}</td>

                            <td>
                                <form action="{% url 'deleteadmin' dataid=d.id %}">
                                    <button type="submit" class="btn btn-success">Delete</button>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

</body>
{% endblock %}
</html>