<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PRODUCT PAGE</h4>
                    <p class="card-description">  ENTER DETAILS </p>
                    <form class="forms-sample" method="post" action="{% url 'saveproduct' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="form-group">
                        <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="exampleSelectGender" name="category">
                          <option>select</option>
                          {% for d in data %}
                          <option>{{d.Name}}</option>
                              {% endfor %}

                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="productname">
                      </div>
                          <div class="form-group">
                        <label for="exampleInputName3">Price</label>
                        <input type="text" class="form-control" id="exampleInputName3" placeholder="price" name="price">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName5">Quantity</label>
                        <input type="text" class="form-control" id="exampleInputName5" placeholder="quantity" name="quantity">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName4">Description</label>
                        <input type="text" class="form-control" id="exampleInputName4" placeholder="description" name="description">
                      </div>
                      <div>
                          <input type="file" name="image">
                      </div>


                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

</body>
{% endblock %}
</html>